@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a {
    color: #FFFFFF;
    text-decoration: underline;
}

a:hover {
    opacity: .8;
}

body {
    background-color: #121617;
    color: #F2F2F2;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.main,
.header {
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.header {
    text-align: center;
}

.header__title {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: .3rem;
    line-height: 1.5;
    text-decoration: none;
}

.main.landing {
    max-width: 1248px;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
}


.main__copy,
.main__image  {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main__image {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1200ms ease-in-out;
}

.main__copy__title {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: .3rem;
    line-height: 1.5;
    text-decoration: none;
    animation: fadeLeft 600ms ease-in-out;
}

.main__copy__paragraph {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main__copy__description {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.25;
    text-align: left;
    animation: fadeLeft 900ms ease-in-out;
}

.main__copy__tagline {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.75rem;
    animation: fadeLeft 1200ms ease-in-out;
}


.main__invite {
    font-size: .9rem;
    margin: 2rem 0;
    font-weight: 100;
}

.main__header {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.main__header.thankyou {
    text-align: center;
}

.main__title {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 2rem 0;
    text-align: left;
    line-height: 2rem;
}

.main__subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    padding: 1rem 0;
    text-align: left;
    line-height: 2rem;
}

.main__text {
    font-size: 1.125rem;
    font-weight: 100;
    margin-bottom: 2rem;
    text-align: justify;
    line-height: 2rem;
}

.main__text.support {
    text-align: left;
}

.main__text.thankyou {
    text-align: center;
}

ol {
    font-size: 1.25rem;
    font-weight: 100;
    margin-bottom: 2rem;
    text-align: justify;
    line-height: 2rem;
    padding-left: 1rem;
}

ol > ul {
    padding-top: 2rem;
}

.main__invite {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 25rem;
    animation: fadeInDelay 1.5s ease-in-out;
}

form {
    display: flex;
    width: 100%;
    border: 1px solid #F2F2F2;
    padding: .25rem;
    border-radius: .25rem;
}

form input {
    background-color: transparent;
    color: #F2F2F2;
    border: none;
}

.email {
    width: 100%;
    padding: .25rem;
}

.SubmitButton {
    background-color: #F2F2F2;
    color: #121617;
    border-radius: .125rem;
    width: fit-content;
    padding: 0 1rem;
}


@media only screen and (max-width: 600px) {
    .main.landing {
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
    }

    .main__copy__title {
        font-size: 4rem;
    }

    .main__copy__description {
        font-size: 2rem;
    }

    .main__copy__tagline {
        font-size: 1rem;
    }
}


@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fadeInDelay {
    0%, 66% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}